/* Estilos para el cuerpo y el contenedor principal */
body {
    background: #f7f7f7;
}

.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para la tarjeta del login */
.login-card {
    width: 350px;
    background-color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para el logo y su contenedor */
.logo-container {
    padding: 2rem 1.5rem 0;
    text-align: center;
}

.logo-container img {
    max-width: 250px; /* Aumentamos el tamaño máximo para que se vea bien */
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Estilos para el cuerpo del formulario */
.card-body {
    padding: 1.5rem;
}

/* Estilos para las etiquetas de los campos */
.label-text {
    color: #6c757d;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    display: block;
}

/* Estilos para los campos de entrada */
.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 50px;
    padding-left: 15px;
    font-size: 1rem;
    color: #333;
    width: 100%;
}

.form-control:focus {
    box-shadow: none;
    border-color: #007bff;
}

/* Estilos para el botón de ingresar */
.login-btn {
    width: 100%;
    background-color: #e3001a;
    color: white;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    height: 50px;
    border: none;
}

.login-btn:hover {
    background-color: #b00014;
}